<script>window.googleJavaScriptRedirect=1</script><META name="referrer" content="origin"><script>var m={navigateTo:function(b,a,d){if(b!=a&&b.google){if(b.google.r){b.google.r=0;b.location.href=d;a.location.replace("about:blank");}}else{a.location.replace(d);}}};m.navigateTo(window.parent,window,"http://nifty.stanford.edu/2013/denero-muralidharan-trends/data/all_tweets.txt");
</script><noscript><META http-equiv="refresh" content="0;URL='http://nifty.stanford.edu/2013/denero-muralidharan-trends/data/all_tweets.txt'"></noscript>